!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #2c2c2c
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
! For Neo_Red
! *.color2: #819400
! *.color10: #bd6b58

! For Neo_Green
*.color10: #a4bd00
*.color2: #D37762

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

!! All Fonts Required
#define font1  GoMonoNerdFont
#define font2	SourceCodePro
#define font3	IosevkaNerdFont
#define font4	IcomoonFeather
#define font5	MaterialIcons
#define font6	Siji
#define font7  FiraCodeNerdFont

!! URxvt Appearance
URxvt.font: xft:font1:style=Regular:size=11, xft:font2:style=Regular:size=11, xft:font3:style=Regular:size=11, xft:font4:style=Regular:size=11, xft:font5:style=Regular:size=11, xft:font6:style=Regular:size=11, xft:font7:style=Regular:size=11
URxvt.boldFont: xft:font1:style=Bold:size=11
URxvt.italicFont: xft:font1:style=Italic:size=11
URxvt.boldItalicfont: xft:font1:style=Bold Italic:size=11
URxvt.letterSpace: 1
URxvt.lineSpace: 1
URxvt.geometry: 84x16
URxvt.internalBorder: 20
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 32768
URxvt.scrollBar: false
URxvt.scrollBar_right: true
URxvt.urgentOnBell: false
URxvt.depth: 32
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl.lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common:		default,tabbedex,url-select
URxvt.keysym.Control-Shift-C:	eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V:	eval:paste_clipboard

!! For Transparentcy
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c750
