/* colors */

* {
  al:      #716F81ff;
  bg:      #3a434aff;
  se:      #6b7aa1ff;
  fg:      #ffeddfff;
  ac:      #A162F7ff;
  red:     #bd3d4aff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
